%%% -*- mode: erlang -*-

{require_min_otp_vsn, "R16"}.

{pre_hooks, [ {clean,   "c_src/build_deps.sh clean"}
            , {compile, "c_src/build_deps.sh get_deps"}
            , {compile, "c_src/build_deps.sh"}
            , {compile, "mkdir -p $(pwd)/priv/lib"}
            ]}.

{post_hooks, [{compile, "/root/x-tools/arm-plum-linux-gnueabi/bin/arm-plum-linux-gnueabi-g++ $(pwd)/c_src/lets_impl_drv_lib.cc  $(pwd)/c_src/lets_impl_drv.cc -shared -fPIC -O3 -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers -I $(pwd)/c_src/leveldb/include -I/opt/arm/lib/erlang/erts-6.4/include -L$(pwd)/c_src/leveldb/lib/libleveldb.a $(pwd)/c_src/snappy/lib/libsnappy.a -lstdc++ -L/opt/arm/lib/erlang/lib/erl_interface-3.7.20/lib -lerl_interface -lei -o $(pwd)/priv/lib/lets_impl_drv.so"}
             ,{compile, "/root/x-tools/arm-plum-linux-gnueabi/bin/arm-plum-linux-gnueabi-g++ $(pwd)/c_src/lets_impl_nif_lib.cc  $(pwd)/c_src/lets_impl_nif.cc -shared -fPIC -O3 -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers -I $(pwd)/c_src/leveldb/include -I/opt/arm/lib/erlang/erts-6.4/include -L$(pwd)/c_src/leveldb/lib/libleveldb.a $(pwd)/c_src/snappy/lib/libsnappy.a -lstdc++ -L/opt/arm/lib/erlang/lib/erl_interface-3.7.20/lib -lerl_interface -lei -o $(pwd)/priv/lib/lets_impl_nif.so"}
             ]}.

{erl_opts, [warnings_as_errors, warn_shadow_vars, warn_obsolete_guard]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{deps, [ {qc,      "2.0.2", {git, "git://github.com/norton/qc.git",        {tag, "v2.0.2"}}}
       , {gen_ets, "2.0.0", {git, "git://github.com/norton/gen-ets.git",   {tag, "v2.0.0"}}}
       , {sext,    "1.3",   {git, "git://github.com/norton/sext.git",      {tag, "1.3"}}}
       , {edown,   "0.6",   {git, "git://github.com/norton/edown.git",     {tag, "0.6"}}}
       ]}.
